# SPDX-License-Identifier: GPL-2.0-only

menu "LLFree Page Allocator"

config LLFREE
	bool "LLFree Allocator"
	depends on X86_64 && SPARSEMEM && SLUB
	help
	  A new experimental allocator for volatile and persistent memory.

config LLFREE_SIZE_COUNTERS
	bool "Size counters"
	depends on X86_64 && SPARSEMEM && SLUB
	help
	  Debug counters for page allocations.

config LLFREE_FAST_FREE
	bool "Fast frees"
	depends on X86_64 && SPARSEMEM && SLUB
	help
	  Skip struct page checks for higher order frees. This might break memory hotplugging.

config LLZERO
	bool "Zero pages asynchronously"
	depends on LLFREE

config LLZERO_NT
	bool "Zero pages with non-temporal stores"
	depends on LLZERO

config LLZERO_NVME_DEBUG
	bool "Debug nulling address using hexdump"
	depends on LLZERO
	help
	  Hexdump the nulled address after the DMA is completed

config LLZERO_IODEPTH
	int "NVMe: Max I/O Inflight"
	depends on LLZERO
	default 64
	help
	  Max I/O Inflight

config LLZERO_DELAY
	int "Delay between zeroing calls"
	depends on LLZERO
	default 100000

config LLZERO_PERCENTAGE
	int "Percentage of pages to zero"
	depends on LLZERO
	default 30

config LLZERO_LIMIT
	int "MiB to zero per run"
	depends on LLZERO
	default 2048

endmenu
